<div class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="card my-4">
        <h5 class="card-header">Nombre de hotel</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" id="name" class="form-control" [(ngModel)]="name">
          </div>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Precio por noche: {{someRange[0]}} a {{someRange[1]}}</h5>
        <div class="card-body">
          <nouislider [connect]="true" [min]="0" [max]="6000" [step]="500" [(ngModel)]="someRange"></nouislider>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Estrellas</h5>
        <div class="card-body">
          <div *ngFor="let op of [1, 2, 3, 4, 5]">
            <div class="input-group">
              <input type="checkbox" (change)="onChange(op, $event.target.checked)" name="star"/>
              <star-rating-comp [starType]="'svg'" [rating]="op" readonly="true"
                                [staticColor]="'ok'"></star-rating-comp>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-8">

      <br>
      <div *ngFor="let hotel of hotels |name:name | price:someRange | stars: stars" class="card mb-4">
        <div class="card-body">
          <div class="card-title"><h3>{{hotel.name}}</h3></div>
          <div class="card-group">
            <star-rating-comp [starType]="'svg'" [rating]="hotel.stars" [readOnly]="true"
                              [staticColor]="'ok'"></star-rating-comp>
          </div>
          <br>
          <label>Precio por noche por habitación</label>
          <h5>ARS {{hotel.price}}</h5>
          <a href="#" class="btn btn-primary">Ver Hotel</a>
        </div>
      </div>
    </div>

  </div>

</div>


